/*
STARTER CODE
body {
  font-size: 18px;
}
*/

/*
CAN'T REALLY USE STYLESHEET BECAUSE WE'RE USING BOOTSTRAP STYLING

head {
    font-size: 18pt;
    font-weight: bold;
    color: #593d87;
    text-align: center;
    }

body {
    font: ;
    font-size: ;
    font-weight: ;
    font-family: ;
    color: ;
    text-align: center;
    }

        h1 {
          font: ;
          font-size: ;
          font-weight: ;
          font-family: ;
          color: ;
          text-align: center;
          }

        nav {
           font: ;
           font-size: ;
           font-weight: ;
           font-family: ;
           color: ;
           text-align: center;
           }

        p {
         font: ;
         font-size: ;
         font-weight: ;
         font-family: ;
         color: ;
         text-align: center;
         }

        table {
             font: ;
             font-size: ;
             font-weight: ;
             font-family: ;
             color: ;
             text-align: center;
             }

*/